<!DOCTYPE html>
<html>

<head>
    <title>Passwort zurücksetzen / Reset your password</title>
    <meta charset="utf-8">
</head>

<body>
    <p>Hallo,</p><br>
    <p>wir haben kürzlich eine Anfrage zum Zurücksetzen deines Passworts erhalten. Falls du diese Anfrage gestellt
        hast,<br>
        klicke bitte auf den folgenden Link, um dein Passwort zurückzusetzen: <br></p>
    <br>
    <a href="{{ frontend_url }}forgot/{{ reset_link_path }}" style='display: inline-block;
           font-weight: 700;
           border-radius: 40px;
           background: linear-gradient(0deg, #121212 0%, #2E3EDF 50%, #2E3EDF 100%);
           background-size: 100% 200%;
           padding: 12px 24px;
           color: white;
           text-decoration: none;
           border: 1px solid #2E3EDF;
    '>
        Passwort zurücksetzen</a>
    <br>
    <br>
    <p>Bitte beachte, dieser Link ist aus Sicherheitsgründen nur 24 Stunden gültig.</p>
    <br>
    <p>Falls du keine Anfrage zum Zurücksetzen deines Passworts gestellt hast,
        ignoriere bitte diese E-Mail.</p>
    <br>
    <p>Beste Grüße,
        <br>
        Dein Videoflix Team!
    </p>
    <br>

    <hr style="margin: 20px 0; border: 0; border-top: 1px solid #eee;">

    <p>Hello,</p><br>
    <p>we recently received a request to reset your password. If you made this request,<br>
        please click on the following link to reset your password:<br></p>
    <br>
    <a href="{{ frontend_url }}forgot/{{ reset_link_path }}" style='display: inline-block;
           font-weight: 700;
           border-radius: 40px;
           background: linear-gradient(0deg, #121212 0%, #2E3EDF 50%, #2E3EDF 100%);
           background-size: 100% 200%;
           padding: 12px 24px;
           color: white;
           text-decoration: none;
           border: 1px solid #2E3EDF;
    '>
        Reset password</a>
    <br>
    <br>
    <p>Please note that for security reasons, this link is only valid for 24 hours.</p>
    <br>
    <p>If you did not request a password reset, please ignore this email.</p>
    <br>
    <p>Best Regards,
        <br>
        Your Videoflix team!
    </p>
    <br>

    <img src="{{ frontend_url }}Logo.png" alt="Videoflix Logo" style="max-width: 200px; height: auto; margin-top: 20px;">
</body>

</html>