<!DOCTYPE html>
<html>

<head>
    <title>Bestätige deine E-Mail / Confirm your email</title>
    <meta charset="utf-8">
</head>

<body>
    <img style="display: block; margin-left: auto; margin-right: auto;" src="{{ frontend_url }}Logo.png"
        alt="Videoflix Logo">
    <br>

    <p>Lieber Videoflixnutzer,</p>
    <p>danke, dass du dich bei <b style='color:#2E3EDF;'>Videoflix</b> registriert hast.
        Um deine Registrierung abzuschließen und deine E-Mail zu bestätigen, klicke bitte auf den Link hier unten:<br>
    </p>
    <br>
    <a href="{{ frontend_url }}signUp/?code={{ code }}" style='display: inline-block;
           font-weight: 700;
           border-radius: 40px;
           background: linear-gradient(0deg, #121212 0%, #2E3EDF 50%, #2E3EDF 100%);
           background-size: 100% 200%;
           padding: 12px 24px;
           color: white;
           text-decoration: none;
           border: 1px solid #2E3EDF;
    '>
        Aktiviere Nutzerkonto</a>
    <br>
    <br>
    <p>Falls du kein Konto bei uns erstellt hast, ignoriere bitte diese E-Mail.</p>
    <br>
    <p>Beste Grüße,
        <br>
        Dein Videoflix Team!
    </p>
    <br>

    <hr style="margin: 20px 0; border: 0; border-top: 1px solid #eee;">

    <p>Dear Videoflixuser,</p>
    <p>thank you for registering with <b style='color:#2E3EDF;'>Videoflix</b>.
        To complete your registration and verify your email address, please click the link below:<br></p>
    <br>
    <a href="{{ frontend_url }}signUp/?code={{ code }}" style='display: inline-block;
           font-weight: 700;
           border-radius: 40px;
           background: linear-gradient(0deg, #121212 0%, #2E3EDF 50%, #2E3EDF 100%);
           background-size: 100% 200%;
           padding: 12px 24px;
           color: white;
           text-decoration: none;
           border: 1px solid #2E3EDF;
    '>
        Activate account</a>
    <br>
    <br>
    <p>If you did not create an account with us, please disregard this email.</p>
    <br>
    <p>Best Regards,
        <br>
        Your Videoflix team!
    </p>
    <br>
</body>

</html>